*{
	margin: 0;
	padding: 0;
}
/*.mydiv{
	background-color: gray;
}
.toph{
	color: black;
	font-size: 65px;
	text-align: center;
}
.superlist{
	display: flex;
	list-style: none;
	gap: 50px;
}*/
.header{
	background-color: #2C2C2C;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
.container_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 36px 0;
}
.nav_list{
	display: flex;
	list-style: none;
	align-items: center;
}
.logo{
	display: flex;
	align-items: center;
}
.logo__title{
	margin-left: 10px;
	color: #FFF;
font-family: Otomanopee One;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
.nav__item:not(:last-child){
	margin-right: 63px;
}
.nav__item{
color: #FFF;
font-family: Nico Moji;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nav__item:first-child{
	color: #00C4F0;
}
.hero-block{
	background: #2C2C2C;
}
.container_hero-block{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 66px 0 67px;
}
.hero-block__title{
	color: #E4E4E4;
	font-family: Otomanopee One;
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;
	margin-bottom: 30px;
}
.hero-block__text{
	color: #E4E4E4;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 50px;
}
.hero-block__content{
	max-width: 475px;
}
.hero-block__link{
	padding: 14px 70px 15px 70px;
	color: #000;
	font-family: Nico Moji;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 6px;
	background: var(--orange, linear-gradient(87deg, #E2A300 4.47%, #E29500 95.53%));
	box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
}
.about{
	background: #3E3E3E;
}
.container_about{
	padding: 70px 0 0 41px;
}
.about__title{
	color: #E4E4E4;
	font-family: Nico Moji;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	margin-bottom: 97px;
}
.about__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about__list{
	list-style: none;
}
.item__range{
	color: #E4E4E4;
	font-family: Nico Moji;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.rating__full{
	width: 356px;
	height: 10px;
	background-color: #00C4F0;
}
.rating__done{
	height: 10px;
	width: 70%;
	background: black;
}
.video{

	background-color #2C2C2C;
}
.container_video{
	padding: 70px 94px;
}
.video_title{
	color: #E4E4E4;
	font-family: "Nico Moji";
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	margin-bottom: 51px;
}
.video_video{
	width: 100%;
	height: 651px;
	border: 50px solid #414141;
	border-radius: 29px;
	box-sizing: border-box;
}
.gallery{
	background-color: background: #3e3e3e;
	padding: 70px 0;
}
.gallery__title{
	font-family: "Nico Moji", sans-serif;
	font-weight: 400;
	font-size: 48px;
	color: #e4e4e4;
	text-align: center;
	margin-bottom: 70px;
}
.gallery__list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.gallery__item{
	width: 31%;
	height: 356px;
}
.gallery_img{
	width: 100%;
	height: 100%;
}
.footer{
	background: rgb(44, 44, 44);
}
.container_footer{
	padding: 50px 0 52px;
}